<nav class="navbar  perso-navbar" aria-label="Navigation principale">

    <div class="container-fluid">

        <a class="navbar-brand" href="/"> 
        <img src="/images/logo-ad.svg" alt="Logo Abdoul David" class="logo" height="42" width="42">

        </a>


        <a href="/admin" class="lien-avatar" aria-label="Accéder à l'administration">
            <img src="/images/avataaars.svg" alt="Abdoul David" class="avatar">
        </a>
    </div>

</nav>
