<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/index.css">
    <title>Abdoul David Diarrassouba</title>
</head>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<body>
    <%- include('layouts/nav'); -%>

    <main class="titre-projets">
        <div class="titre">
        <h2 class="label"><sup class="num">02</sup><br>
            <span>PROJETS</span>
        </h2>
        <div class="separateur"></div>
        </div>
        <%- include('partials/finder'); -%>
        
    </main>

    <%- include('layouts/footer'); -%>
</body>
</html>
